
@{
    ViewBag.Title = "NotAllowed";
}

<div class="container">
    <div class="jumbotron">
        <h2>Access Denied.</h2>
        <p>You do not have the proper permissions to visit this page.</p>
    </div>
</div>

